@font-face {
    font-family: 'bebasregular';
    src: url('../fonts/BEBAS___-webfont.eot');
    src: url('../fonts/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BEBAS___-webfont.woff') format('woff'),
         url('../fonts/BEBAS___-webfont.ttf') format('truetype'),
         url('../fonts/BEBAS___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
	min-height: 100%;
}

body {
	min-height:100%;
}

h1, h2 {
	color: #FFFFFF;
}

h1 {
	font-family: 'bebasregular', Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
	font-size: 3em;
	position: absolute;
	bottom: 0;
	padding-left: .5em;
	padding-bottom: .15em;
}

h2 {
	font-family: 'bebasregular', Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
	font-size: 2em;
	position: absolute;
	bottom: 0;
	right: 10%;
	padding-left: .5em;
	padding-bottom: .15em;
}

a {
	text-decoration: none;
	color: #d85d5d;
}

a:hover {
	color: red;
}

a:visited {
	color: slategray;
}

.resultsList a {
	font-family: "Ariel", sans-serif;
}

p {
	line-height: 1.4em;
}

.container {
	min-width: 800px;
	margin: 0 auto;
	padding: .05em;
	height: auto;
	min-height: 100%;
	clear: both;
	font-family: Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;

}

header {
	background: url("../hands.png") repeat-x;
	background-position: 0 bottom;
	background-size: auto 85%;
	min-height: 250px;
	min-width: 800px;
	position: relative;
}

.mainContainer {
	min-height: 100%;
	clear: both;
	overflow: hidden;
	display: inline-block;
}

.mainContainer:after {
  content:"";
  display:table;
  clear:both;
}

.sidebar {
	/*min-height: 800px;*/
	width: 20%;
	background-color: #cbd9ed;
	float: left;
	color: #FFFFFF;
	text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
	padding: 3.5em 1.5em;
	min-height: 100%;
}

.main {
	background: linear-gradient(
  to bottom,
  #FFFFFF,
  #FFFFFF 50%,
  #F2E6E6 50%,
  #F2E6E6
	);
	/* The rectangle in which to repeat. 
	   It can be fully wide in this case */
	background-size: 100% 150px;
	/*min-height: 800px;*/
	min-height: 100%;
	/*padding: 2em;*/
	text-align: center;
	width: 74%;
	float: left;
}

form {
	margin: .3em auto;
	padding: 2em;
}

#results {
	/*display: none;*/
	background-color: rgba(255,255,255,.4);
	width: 80%;
	margin: 2em auto;
	border: 1px solid black;

}

.directions {
	margin-top: 1em;
}

.bold {
	font-weight: bold;
}

ul {
	margin: 1em;
	text-align: left;
	padding: 1em;
}

li {
	padding: .5em 0;
}

